 <div class="container mt-5">
 <div class="card " >
    <div class="nav" style="height:50px">
        <p style="color:orange" class="ms-2 mt-3">Batch List</p>
        <form class="mt-2">
        <input type="text" style="background-color: #F4F5F8; width:400px; margin-left: 600px;position: absolute; " class="form-control">
    
      </form>
      
      <button mat-button (click)="openDialog()" class="btn btn-warning mt-2" style=" position: absolute; margin-left: 1100px;">+ New Batch</button>
      

    </div>

</div>

 
  

  <table class="table  table-hover">
    <thead>
      <tr>
        <th scope="col"><input type="checkbox"></th>
        <th scope="col">No</th>
        <th scope="col">Batch Id</th>
        <th scope="col">Batch Name</th>
        <th scope="col">Mentor Name</th>
        <th scope="col">Technologies</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="col"><input type="checkbox"></th>
        <td scope="col">No</td>
        <td scope="col">#4738r4365</td>
        <td scope="col">tys</td>
        <td scope="col">Abhishek</td>
        <td scope="col">front-end</td>
        <td scope="col">11-11-2021</td>
        <td scope="col">11-11-2021</td>
        <td scope="col">active</td>
        <td scope="col">Action</td>
      </tr>
      
    </tbody>
  </table>

 </div>