<div class="container mt-5">
    <div class="card " >
       <div class="nav" style="height:50px">
           <p style="color:orange" class="ms-2 mt-3">Batch List</p>
           <form class="mt-2">
           <input type="text" style="background-color: #F4F5F8; width:400px; margin-left: 600px;position: absolute; " class="form-control">
       
         </form>
         <!-- <button  class="btn btn-warning mt-2" style=" position: absolute; margin-left: 1100px;" data-bs-toggle="modal" data-bs-target="#exampleModal"> + New Batch</button> -->
   
       </div>
   
   </div>
   
     
   
     <table class="table  table-hover">
       <thead>
         <tr>
           <th scope="col"><input type="checkbox"></th>
           <th scope="col">No</th>
           <th scope="col">Employee Id</th>
           <th scope="col">Employee Name</th>
           <th scope="col">YOP</th>
           <th scope="col">Percentage</th>
           <th scope="col">Experience</th>
           <th scope="col">Contact No</th>
           
           <th scope="col">Action</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <th scope="col"><input type="checkbox"></th>
           <td scope="col">No</td>
           <td scope="col">#4738r4365</td>
           <td scope="col">Bharat</td>
           <td scope="col">2019</td>
           <td scope="col">67.26%</td>
           <td scope="col">0.8</td>
           <td scope="col">8688484364</td>
          
           <td scope="col">Action</td>
         </tr>
         
       </tbody>
     </table>
   
    </div>